// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

th {
    max-width: 20%;
    overflow-x: hidden;
    &:last-child {
       width: 30%; 
    }
}
